h2{
    background-color: rgb(255, 0, 191);
    color: white;
    text-align: center;
    font-size: 120px;
}
table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    border-style: dotted;
  }
  